<!DOCTYPE html>
html(lang="en")
  head
    script(src="http://cdn.optimizely.com/js/2750611661.js")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="Description" content="OUT THINK YOUR COMPETITION")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="shortcut icon" href="./img/favicons/16x16.ico")
    link(rel="apple-touch-icon" href="./img/favicons/60x60.png")
    link(rel="apple-touch-icon" sizes="76x76" href="./img/favicons/76x76.png")
    link(rel="apple-touch-icon" sizes="120x120" href="./img/favicons/120x120.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./img/favicons/120x120.png")

    link(rel="icon" sizes="192x192" href="./img/favicons/192x192.png")
    meta(name="theme-color" content="#000")


    title Inventivestep
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
    link(rel="stylesheet", href="./css/style.css")
    <!--[if lt IE 9]>
    script(src="./js/html5shiv-min.js")
    <![endif]-->
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("UhjLrgYtHQs2HY0cdYYgEkBo4OqQN98N");
      analytics.page()
      }}();
  body
    main
      .video-wrap
        video.video(autoplay loop poster="./img/poster.jpg")
          source(src="./media/bgvideo.webm" type="video/webm")
          source(src="./media/bgvideo.mp4" type="video/mp4")
          source(src="./media/bgvideo.ogv" type="video/ogg")

      section.content-wrap
        header.header.header-desctop
          .logo
            img(src="./img/logo.png", alt="inventivestep's logo")
        .content
          header.header.header-mobile
            .logo
              img(src="./img/logo.png", alt="inventivestep's logo")
          h1.main-heading Don’t wait for hindsight
          p.content-text.bottom-text  InventiveStep is a product strategy and business design company.<br> Through consulting, tools and our network of specialists, we transform the way businesses evolve their products and services.
          .form-wrap
            form.form(action="https://service.capsulecrm.com/service/newlead" method="POST")
              input(type="hidden" name="FORM_ID" value="ee4c9301-8488-43e2-ba77-f0cf612bfbb7")
              //- input(type="hidden" name="DEVELOPER" value="TRUE")
              //- input(type="hidden" name="COMPLETE_URL" value="http://testyoursite.hol.es/VideoBG/")
              input.text-input(type="text" name="FIRST_NAME" placeholder="Full Name")
              input.email-input(type="email" name="EMAIL" placeholder="Email Address")
              input.submit-btn(type="submit" value="Talk to us")
            p.error-email Please, use the correct email
            p.error-name Please, tell us your name
            p.error-mobile Please, fill in the fields correctly
          .success-form
            | Thank you! We will be in touch soon

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" defer async)
    script(src="./js/script.js" defer async)
