@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,900");
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header {
  padding: 25px;
  margin: 0 0 95px 0;
}
.header-mobile {
  display: none;
}
.logo {
  width: 168px;
}
.logo img {
  width: 100%;
}
.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url("../img/bg.png");
}
.content {
  max-width: 870px;
  margin: 0 auto;
  text-align: center;
}
.main-heading {
  font: normal 900 54px/1 "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 45px;
}
.content-text {
  font: normal 100 22px/32px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
}
.bottom-text {
  padding-top: 15px;
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.text-input,
.email-input {
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  width: 281px;
  height: 42px;
  padding-left: 20px;
  font: normal 16px/1 "Roboto", sans-serif;
  color: #444;
  border: none;
}
.text-input:focus,
.email-input:focus {
  outline: auto 5px #8c0003;
}
.text-input {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: #c4c4c4 1px solid;
}
.email-input {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: #c4c4c4 1px solid;
}
.email-input::-webkit-input-placeholder,
.text-input::-webkit-input-placeholder {
  font: normal 16px "Roboto", sans-serif;
  color: #8d9396;
}
.email-input:-moz-placeholder,
.text-input:-moz-placeholder,
.email-input::-moz-placeholder,
.text-input::-moz-placeholder {
  font: normal 16px "Roboto", sans-serif;
  line-height: 40px;
  color: #8d9396;
}
.email-input:-ms-input-placeholder,
.text-input:-ms-input-placeholder {
  font: normal 16px "Roboto", sans-serif;
  color: #8d9396;
}
.submit-btn {
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  background: #af2127;
  width: 164px;
  height: 44px;
  font: normal bold 17px/1 "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: #8c0003 2px solid;
  margin-left: 10px;
  transition: background 0.3s ease-in;
}
.submit-btn:hover {
  background: #d43239;
}
.form-wrap {
  position: relative;
  max-width: 736px;
  margin: 0 auto;
  font-size: 0;
}
.error-email,
.error-name,
.error-mobile {
  font: 300 14px "Roboto", sans-serif;
  color: #ff2b30;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  display: none;
  background: #050101;
  background: rgba(5,1,1,0.6);
  padding: 0 10px;
  position: absolute;
  top: 42px;
  left: 281px;
  z-index: 1000;
}
.error-email:after,
.error-name:after,
.error-mobile:after {
  content: '';
  display: block;
  position: absolute;
  top: -15px;
  left: calc(50% - 2.5px);
  border: 5px solid transparent;
  border-bottom: 10px solid #050101;
  border-bottom: 10px solid rgba(5,1,1,0.6);
}
.error-mobile {
  opacity: 0;
  z-index: 0;
}
.error-name {
  left: 0;
}
.success-form {
  display: none;
  background-color: rgba(4,1,0,0.55);
  max-width: 736px;
  margin: 0 auto;
  height: 46px;
  font: normal 100 14px/46px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  html {
    min-height: 100%;
    background: #000 url("../img/poster.jpg") no-repeat;
    background-size: cover;
    background-position: 49% 0;
    background-attachment: fixed;
  }
  body {
    min-height: 100%;
    overflow: scroll;
    background: none;
  }
  .header-desctop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .content {
    min-height: 100%;
    background: url("../img/bg.png");
    background-attachment: fixed;
    padding: 0 15px 20px 15px;
  }
  .header {
    margin: 0 0 10px 0;
    padding-left: 0;
  }
  .content-wrap {
    text-align: center;
  }
  .main-heading {
    font-size: 40px;
  }
  .text-input,
  .email-input,
  .submit-btn {
    margin: 0 0 5px 0;
    width: 100%;
    border-radius: 4px;
  }
  .video {
    display: none;
  }
  .content-wrap {
    background: none;
  }
  .error-name,
  .error-email {
    display: none !important;
  }
  .error-name:after,
  .error-email:after {
    content: '';
    display: none;
  }
  .error-mobile {
    width: 100%;
    background: #050101;
    left: 0;
    top: 80px;
    height: 44px;
    line-height: 44px;
    opacity: 1;
    z-index: 1000;
  }
  .error-mobile:after {
    content: '';
    display: none;
  }
}
