brand-red = #8c0003
brand-red-hover = #d43239
placeholder-grey = #8d9396

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,900);
@require "normalize";

* 
  box-sizing border-box

body
  background #000
  color white
  width 100%
  height 100%
  overflow hidden

.header
  padding 25px
  margin 0 0 95px 0

.header-mobile
  display none

.logo
  width 168px
  img 
    width 100%

.video-wrap 
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 1

.video
  width 100%
  height 100%
  object-fit: cover

.content-wrap
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 100
  background url(../img/bg.png)

.content
  max-width 870px
  margin 0 auto
  text-align center

.main-heading
  font normal 900 54px/1 "Roboto", sans-serif 
  text-transform uppercase
  color:  #fff;
  margin 0 auto
  margin-bottom 45px
  
.content-text
  font normal 100 22px/32px "Roboto", sans-serif
  color:  #fff;
  text-align center
  padding 0
  margin-bottom 15px

.bottom-text
  padding-top 15px
  // border-top 2px solid rgba(255, 255, 255, 0.1)
  width 100%
  max-width (281+281+164+10)px
  margin 0 auto
  margin-bottom 55px

.text-input,
.email-input
  display inline-block
  vertical-align top
  background-color: #fff;
  width: (562px/2);
  height: 42px;
  padding-left 20px
  font normal 16px/1  "Roboto", sans-serif
  color: #444;
  border none
  &:focus
    outline: auto 5px brand-red

.text-input
  border-radius 0
  border-top-left-radius 4px
  border-bottom-left-radius 4px
  border-right #c4c4c4 1px solid

.email-input
  border-radius 0
  border-top-right-radius 4px
  border-bottom-right-radius 4px
  border-left #c4c4c4 1px solid

.email-input::-webkit-input-placeholder,
.text-input::-webkit-input-placeholder {
  font normal 16px  "Roboto", sans-serif 
  color: placeholder-grey;
}
.email-input:-moz-placeholder,
.text-input:-moz-placeholder,
.email-input::-moz-placeholder,
.text-input::-moz-placeholder {
  font normal 16px "Roboto", sans-serif 
  line-height 40px
  color: placeholder-grey;
}

.email-input:-ms-input-placeholder,
.text-input:-ms-input-placeholder {
  font normal 16px  "Roboto", sans-serif 
  color: placeholder-grey;
}

.submit-btn 
  display inline-block
  vertical-align top
  border-radius: 4px;
  background: #af2127;
  width: 164px;
  height: 44px;
  font normal bold 17px/1 "Roboto", sans-serif 
  color: #fff;
  text-align: center;
  outline none
  border none
  border-bottom  brand-red 2px solid
  margin-left 10px
  transition background .3s ease-in
  &:hover 
    background brand-red-hover

.form-wrap
  position relative
  max-width (281+281+164+10)px
  margin 0 auto
  font-size 0

.error-email,
.error-name,
.error-mobile
  font 300 14px "Roboto", sans-serif
  color #ff2b30
  height 40px
  line-height 40px
  border-radius 4px
  display none
  background #050101
  background rgba(5, 1, 1, .6)
  padding 0 10px
  position absolute
  top 42px
  left 281px
  z-index 1000
  &:after
    content ''
    display block
    position absolute
    top -15px
    left calc(50% - 2.5px)
    border: 5px solid transparent;
    border-bottom: 10px solid #050101;
    border-bottom: 10px solid rgba(5, 1, 1, .6);

.error-mobile
  opacity 0
  z-index 0

.error-name
  left 0

.success-form
  display none
  background-color: rgba(4, 1, 0, 0.55);
  max-width (281+281+164+10)px
  margin 0 auto
  height: 46px;
  font normal 100 14px/46px "Roboto", sans-serif
  color: #fff;
  text-align: center;


@media only screen and (max-width: 768px) {
  html {
    min-height 100%
    background black url(../img/poster.jpg) no-repeat
    background-size cover
    background-position 49% 0
    background-attachment fixed
  }

  body {
    min-height 100%
    overflow scroll
    background none
  }

  .header-desctop{
      display none
    }

  .header-mobile{
      display block
  }

  .content {
    min-height 100%
    background url(../img/bg.png)
    background-attachment fixed
    padding 0 15px 20px 15px
  }

  .header {
    margin 0 0 10px 0
    padding-left 0
  }

  .content-wrap {
    text-align center
  }

  .main-heading {
    font-size: 40px
  }

  .text-input,
  .email-input,
  .submit-btn {
    margin 0 0 5px 0
    width 100%
    border-radius 4px
  }

  .video {
    display none
  }

  .content-wrap {
    background none
  }

  .error-name,
  .error-email {
    // width: 100%;
    // background #050101
    // left 0
    display none !important
    &:after {
      content: '';
      display: none;
    }
  }

  .error-mobile {
    width: 100%;
    background #050101
    left 0
    top 80px
    height 44px
    line-height 44px
    opacity 1
    z-index 1000
    &:after {
      content: '';
      display: none;
    }
  }

}










